/* Background Design */

#background {
    background-color: #FFFFD6;
    color: #142610;
}

/* Header and Footer */

.site-headers {
    background-color: #142610;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-images {
    width: 40px;
    height: 40px;
}

#web-name {
    padding-left: 10px;
    font-family: serif;
}

#right-col {
    text-align: right;
    padding-right: 25px;
}

#footer {
    text-align: center;
    padding: 20px;
}

#title {
    border: none;
    background-color: #142610;
    color: white;
}

.language {
    background-color: #FFFFD6;
    color: #142610;
}

.language:hover {
    border-color: #732100;
}

/* Navigation */

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #356935;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#navigation::after {
    content: "";
    display: block;
    clear: both;
}

.section {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.select-page {
    border: none;
    background-color: #356935;
    color: #E6E6E6;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropbtn {
    border: none;
    background-color: #356935;
    color: #E6E6E6;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    background-color: #356935;
    box-shadow: 0px 4px 10px rgba(0,0,0,.25);
    color: white;
    z-index: 1000;
}

.dropdown-content a {
    display: block;
    color: #E6E6E6;
    text-decoration: none;
    padding: 12px 15px;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    background-color: #FFFFD6;
}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 10px;
    color: #142610;
}

.breadcrumb a {
    text-decoration: none;
    color: #356935;
}

.breadcrumb li[aria-current="page"] {
    color: #142610;
}

.break {
    color: #142610;
    margin: auto;
}

/* index.html */

#welcome {
    background-color: #142610;
    background-image: repeating-linear-gradient(
        45deg,
        transparent 0px,
        transparent 15px,
        #356935 15px,
        #356935 16px
    );
    color: #FFFFD6;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#search-games {
    background-color: #FFFFD6;
    color: #142610;
    padding: 10px;
    border: 3px solid #356935;
}

#search-games:hover {
    border: 3px solid #732100;
}

.info {
    background-color: #356935;
    color: #FFFFD6;
}

.banners {
    background-color: #356935;
    color: #FFFFD6;
    font-size: 30px;
    width: 90%;
    height: 60px;
}

.banners:hover {
    border: 3px solid #732100;
}

/* gallery.html */

.images {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid #732100;
}

.videos {
    width: 90%;
    max-width: 100%;
    height: auto;
    border: 3px solid #142610;
}

.videos:hover {
    border: 3px solid #732100;
}

/* catalog.html */

#download {
    background-color: #356935;
    color: #FFFFD6;
    border: 3px solid transparent;
}

#download:hover {
    border: 3px solid #732100;
}

#sort {
    background-color: #356935;
    color: #FFFFD6;
    border: 3px solid transparent;
    padding: 1px;
}

#search {
    background-color: #356935;
    color: #FFFFD6;
    border: 3px solid transparent;
}

#search::placeholder {
    color: #FFFFD6;
}

/* Showing specific sections for gallery.html and catalog.html */

.show-section {
    display: none;
}

.selector {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 20px 0;
    background-color: #356935;
    width: fit-content;
}

.selector a {
    text-decoration: none;
    color: #FFFFD6;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
}

.selector a:hover {
    border-bottom: 3px solid #732100;
}

.selector a.active {
    border-bottom: 3px solid #732100;
}

/* account.html */

.cart-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #732100;
}

.quantity-button {
    background-color: #E9EBE1;
    border: none;
}

#remove-button {
    background-color: #142610;
    color: #FFFFD6;
    border: 3px solid transparent;
}

#remove button:hover {
    border: 3px solid #732100;
}

#checkout-button {
    background-color: #142610;
    color: #FFFFD6;
    border: 3px solid transparent;
    padding: 15px;
    margin-top: 5px;
}

#checkout-button:hover {
    border: 3px solid #732100;
}

/* about.html */

#nagrade-i-priznanja {
    list-style-type: square;
}

#map {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
}

/* game.html */

#enter-comment {
    background-color: white;
    margin-bottom: 10px;
}

#submit-comment {
    background-color: #142610;
    color: #FFFFD6;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    border: 3px solid transparent;
}

#submit-comment:hover {
    border: 3px solid #732100;
}

#add-cart {
    margin-left: 5px;
    background-color: #142610;
    color: #FFFFD6;
    border: 3px solid transparent;
}

#add-cart:hover {
    border: 3px solid #732100;
}

.comment {
    background-color: #E9EBE1;
    color: black;
    padding: 10px;
}

/* Displaying Images */

.game-card {
    background-color: #E9EBE1;
    border: 3px solid #732100;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    height: 100%;
}

.game-image {
    width: 100%;
    /* height: 300px; */
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    object-fit: contain;
}

.game-card h4 {
    margin-top: 15px;
    font-size: 22px;
}

.game-card p {
    margin-bottom: 0;
}

.view-button {
    padding: 5px;
    margin-top: 10px;
    color: #FFFFD6;
    background-color: #356935;
    border: 3px solid transparent;
}

.view-button:hover {
    border: 3px solid #732100;
}

/* Stars used for ratings */

.stars {
    background-color: #FFFFD6;
    border: none;
    padding: 0;
    margin: 0;
}
